<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>Guess The Prompt!</title>
</head>

<body>
    <h1>Guess the Sentence</h1>
    <p><img src="{{ url_for('static', filename='image.png') }}" alt="Generated Image"> </p>
    <p>You have {{ remaining_trials }} / 3 try(s) left.</p>
    <form action="/guess" method="post">
        <label for="text_to_guess">Enter a sentence:</label>
        <input type="hidden" id="text_to_guess" name="text_to_guess" value="{{text_to_guess}}" />
        <input type="hidden" id="trial_number" name="trial_number" value="{{trial_number}}" />
        <input type="text" name="text_prompt">
        <button type="submit">Check</button>

    </form>
    <p>Current similarity is {{ percentage }}%</p>
</body>

</html>