<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Guess The Prompt!</title>
  </head>
  <body>
    <h1>You Lose!</h1>
    <p>Sorry, you have exceeded the maximum number of guesses.</p>
    <p><img src="{{ url_for('static', filename='image.png') }}" alt="Generated Image"></p>
    <p>The sentence you were trying to guess was: "{{ original_sentence }}"</p>
    <!--a link to go back to index page-->
    <a href="/">Play again!</a>
  </body>
</html>