<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Guess The Prompt!</title>
  </head>
  
  <body>
    <h1>You Win!</h1>
    <p>Congratulations, you have successfully guessed the sentence.</p>
    <p>The sentence you guessed was: "{{ original_sentence }}"</p>
    <p><img src="{{ url_for('static', filename='image.png') }}" alt="Generated Image"></p>
    <!--a link to go back to index page-->
    <a href="/">Play again!</a>
    <script type="module" src="https://unpkg.com/@splinetool/viewer@0.9.280/build/spline-viewer.js"></script>
    <spline-viewer url="https://prod.spline.design/oxsoGNpeLFU72o5R/scene.splinecode"></spline-viewer>  
  </body>
</html>